#guideDocumentViewerWrapper-new-guide {
  position: absolute;
  top: 0;
  right: 400px;
  left: 0;
  bottom: 0;
}

#createGuideWrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 400px;
  border-left: #ccc thin solid;
}
