<div id="guideDocumentViewerWrapper-new-guide">
  {{guide-document-viewer guide=model}}
</div>

<div id="createGuideWrapper">
  {{guide-document-editor title=model.title body=model.body routeAction=(action 'updateGuide')}}
</div>
