<div class="actions-bar">

      {{#link-to 'edit-guide' model.id class="actions-bar-button" tagName="button"}}Edit{{/link-to}}
    <button type="button" name="button" class="actions-bar-button" {{action 'toggleDeleteModal'}}>Delete</button>
</div>

<div id="guide-preview-wrapper">

  <div id="guideDocumentViewerWrapper">
    {{guide-document-viewer guide=model}}
  </div>



</div>

{{#if deleteModalIsShowing}}
  {{#confirmation-modal}}
    <h1>Are you sure?</h1>
    <p>
      This will delete the guide forever!
    </p>
    <button type="button" name="button" class="confirmationModalButton delete" {{action 'deleteGuide'}}>Delete</button>
    <button type="button" name="button" class="confirmationModalButton" {{action 'toggleDeleteModal'}}>Cancel</button>
  {{/confirmation-modal}}

{{/if}}
